{
    "extends": ["plugin:prettier/recommended","standard"],
    "plugins": [
        "html",
        "prettier"
    ],
    "parser": "babel-eslint",
    "rules": {
      "prettier/prettier": "error"
    }
}